@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1536px) {
  .container {
    max-width: 1400px !important;
  }
}

@keyframes moving {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: moving 7s linear infinite;
}
